In [225]:
import selenium
from selenium import webdriver
import time
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import re
import os
import requests as rq
from webdriver_manager.chrome import ChromeDriverManager

In [226]:
driver = webdriver.Chrome(ChromeDriverManager(). install ())
#driver=webdriver.Chrome(executable_path='C:\\driver\\newdrive\\chromedriver.exe')

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
Driver [C:\Users\ishaa\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

In [224]:
driver.get("https://www.mahindrafirstchoice.com/used-cars/Delhi")

In [193]:
try:
    previous_height=driver.execute_script('return document.body.scrollHeight')
    while True:
        time.sleep(2)
        driver.execute_script('window.scrollTo(0,document.body.scrollHeight)')
        time.sleep(2)
        new_height=driver.execute_script('return document.body.scrollHeight')
        if(new_height==previous_height):
            break
        previous_height=new_height
except Error as e:
    print (e)

In [ ]:
soup = BeautifulSoup(driver.page_source, "html.parser")

In [ ]:
##Price of the car
price1 = soup.find_all("span",{"class":"ft_price"})
pr1 = []
for _ in price1:
    pr1.append(_.text)



price = soup.find_all("span",{"class":"car_price"})
pr = []
for _ in price:
    pr.append(_.text)
    
pr2=[]
for ele in pr1:
    pr2.append(ele.strip())
    
n=len(pr2)
n
del pr[1:n+1]

########Location of the car
location = soup.find_all("span",{"class":"buyer_locations icon_set stock_location b"})
loc = []
for _ in location:
    loc.append(_.text)

In [ ]:
#######distance,fuel type, body type,owner

bottom_spec = soup.find_all("span",{"class":"overview_name"})
bot = []
for _ in bottom_spec:
    bot.append(_.text)
    
converted_list = []
for element in bot:
    converted_list.append(element.strip())
    
res = [ele.replace('\n', '') for ele in converted_list]


n=int((len(res)/4))
np_array = np.array(res)

reshaped_array = np.reshape(np_array, (n,4 ))

In [ ]:
data=pd.DataFrame(reshaped_array,columns=["Kilometers","Fuel","Body-type","owner"])

In [195]:
data.head(10)

,Kilometers,Fuel,Body-type,owner,make,year,location,Price,Model
0,"18,000 Kms",Petrol,Hatchback,1st Owner,Datsun,2016,Noida,3.85 Lakhs,Go T
1,"44,000 Kms",Petrol,Hatchback,1st Owner,Hyundai,2012,Ghaziabad,3 Lakhs,I10 MAGNA 1.2
2,"80,530 Kms",Diesel,Hatchback,1st Owner,Toyota,2014,Faridabad,3 Lakhs,Etios Liva V
3,"55,982 Kms",Diesel,Sedan,2nd Owner,Chevrolet,2011,Delhi,3 Lakhs,Cruze LT
4,"55,982 Kms",Diesel,Sedan,1st Owner,Chevrolet,2011,Ghaziabad,3 Lakhs,Cruze LT
5,1.37 Lakhs Kms,Diesel,SUV,2nd Owner,Nissan,2012,Faridabad,2 Lakhs,Sunny XV DIESEL
6,"60,200 Kms",Diesel,SUV,1st Owner,Mahindra,2016,Faridabad,3.3 Lakhs,Kuv100(2016_2017) K2...
7,"76,949 Kms",Diesel,SUV,1st Owner,Mahindra,2014,Gurgaon,3.5 Lakhs,Quanto C8
8,"46,175 Kms",Diesel,SUV,2nd Owner,Mahindra,2014,Delhi,3.85 Lakhs,Quanto C6
9,"56,000 Kms",Diesel,SUV,2nd Owner,Ford,2013,Delhi,4.25 Lakhs,Ecosport TITANIUM 1....

In [196]:
#####year, make

top_spec = soup.find_all("h3",{"class":"buyer_make"})
top = []
for _ in top_spec:
    top.append(_.text)
    
split_list=[]
for ele in top:
    split_list.append(ele.split())

In [197]:
df=pd.DataFrame(split_list,columns=["year","m","r"])

In [198]:
df = df.replace([None], [''], regex=True)

In [213]:
data['make'] = df['m'].str.cat(df['r'], sep =" ")
data["year"]=df["year"]
data["location"]=loc
data["Price"]=pr

In [212]:
#####Model

top_spec1 = soup.find_all("h3",{"class":"buyer_variant"})
top1 = []
for _ in top_spec1:
    top1.append(_.text)
    
converted_list1 = []
for element in top1:
    converted_list1.append(element.strip())
    
model = [ele.replace('\n', '') for ele in converted_list1]


res = [ele.replace('\n', '') for ele in converted_list1]

In [205]:
data["Model"]=model

In [207]:
used_cars=pd.DataFrame(used_cars)

In [208]:
used_cars=data[["year","make","Model","Price","location","Kilometers","Fuel","Body-type","owner"]]

In [209]:
used_cars

,year,make,Model,Price,location,Kilometers,Fuel,Body-type,owner
0,2016,Datsun,Go T,3.85 Lakhs,Noida,"18,000 Kms",Petrol,Hatchback,1st Owner
1,2012,Hyundai,I10 MAGNA 1.2,3 Lakhs,Ghaziabad,"44,000 Kms",Petrol,Hatchback,1st Owner
2,2014,Toyota,Etios Liva V,3 Lakhs,Faridabad,"80,530 Kms",Diesel,Hatchback,1st Owner
3,2011,Chevrolet,Cruze LT,3 Lakhs,Delhi,"55,982 Kms",Diesel,Sedan,2nd Owner
4,2011,Chevrolet,Cruze LT,3 Lakhs,Ghaziabad,"55,982 Kms",Diesel,Sedan,1st Owner
...,...,...,...,...,...,...,...,...,...
993,2014,Maruti Suzuki,Celerio VXI AMT,3.75 Lakhs,Noida,"50,000 Kms",Petrol,Saloon,1st Owner
994,2014,Hyundai,Elite I20 SPORTZ 1.2...,5.25 Lakhs,Noida,"61,567 Kms",Petrol,Hatchback,1st Owner
995,2013,Maruti Suzuki,Wagon R 1.0 VXI,3.2 Lakhs,Noida,"31,000 Kms",Petrol,Hatchback,1st Owner
996,2013,Nissan,Micra XV CVT,3.55 Lakhs,Noida,"60,000 Kms",Petrol,Hatchback,1st Owner
997,2012,Maruti Suzuki,Wagon R 1.0 LXI CNG,2.8 Lakhs,Ghaziabad,"55,212 Kms",CNG + ...,Hatchback,1st Owner

In [210]:
###write to CSV 

used_cars.to_csv("D:\\used_cars.csv")